@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #0b6fc0;
  --black-color: #000;
  --white-color: #fff;
  --secondary-color: #0c74c2;
  --green-color: #40a737;
  --light-gray: #555555;
  --bg-color: #f6f6f6;
  --btn-gradient: linear-gradient(93.22deg, #0b6fc0 1.06%, #1fd2e5 97.02%);
}

.text-primary {
  color: var(--primary-color) !important;
}

/* ----- Navbar start ----- */
.nav a,
button,
li {
  font-family: "poppins", sans-serif !important;
}


.dropdown-menu {
  border: none !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* ----- Navbar end ----- */
/* ----- Login start ----- */
.login-section {
  background: url(../assets/images/login\ bg.svg) center no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  padding: 8rem 1rem !important;
}

.login-shadow {
  background: #0B6FC01A;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  display: grid;
  place-items: center;
}

.login-heading h3 {
  color: var(--primary-color) !important;
}

.login-heading {
  background: #ffffffb2 !important;
  box-shadow: 4px 4px 15px 0px #00000040;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.login-heading input:not(#type) {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 5px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.login-form label {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

input#type {
  appearance: none;
  position: absolute;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #f2f2f2;
  border-radius: 10px;
  position: relative;
  width: 70%;
  margin: auto;
}

.option span {
  width: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  color: var(--primary-color);
}

.option::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background: var(--primary-color);
  height: calc(100% - 10px);
  width: calc(50% - 10px);
  transform: translateX(5px);
  border-radius: inherit;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms;
}

input#type:checked~.option::before {
  left: 50%;
}

input#type:checked~.option span:nth-child(1) a,
input#type:not(:checked)~.option span:nth-child(2) a {
  color: var(--primary-color);
}

input#type:checked~.option span:nth-child(2) a,
input#type:not(:checked)~.option span:nth-child(1) a {
  color: #fff !important;
}

.login-btn button {
  padding: 3px 33px !important;
  border-radius: 50px !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  font-size: 18px !important;
  outline: none !important;
  transition: 0.2s ease !important;
}

.login-btn button:hover {
  background: -webkit-linear-gradient(right, #0b6fc0, #0ae0fc) !important;
  color: white !important;
  border: 1px solid transparent !important;
}

.login_btn button {
  padding: 4px 103px !important;
  border-radius: 50px !important;
  border: 1px solid var(--primary-color) !important;
  outline: none !important;
  transition: 0.2s ease !important;
}

.login_btn a {
  font-size: 18px !important;
  transition: 0.2s ease !important;
  color: var(--primary-color) !important;
}

.login_btn button:hover {
  background: -webkit-linear-gradient(right, #0b6fc0, #0ae0fc) !important;
  border: 1px solid transparent !important;
  && a {
    color: var(--white-color) !important;
  }
}

.login_btn button:hover a {
}

.primary-btn {
  padding: 3px 33px !important;
  border-radius: 50px !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  font-size: 18px !important;
  outline: none !important;
  transition: 0.2s ease !important;
}

.primary-btn:hover {
  background: linear-gradient(to right, #0b6fc0, #0ae0fc) !important;
  color: white !important;
  border: 1px solid transparent !important;
}

.email-input {
  border: 1px solid var(--primary-color) !important;
  padding: 10px 10px !important;
}

.email-input::placeholder {
  color: var(--secondary-color) !important;
}

.email-input:focus {
  border: none !important;
}

.pass-input {
  border: 1px solid var(--primary-color) !important;
  padding: 10px 10px !important;
}

.pass-input::placeholder {
  color: var(--secondary-color) !important;
}

.forget-pass a {
  text-decoration: none !important;
}

.forget-pass a:hover {
  text-decoration: underline !important;
}

/* ----- Login end ----- */
/* ----- Footer start ----- */
.footer-section {
  margin: 50rem 10px 0 10px;
  background: #f6f6f6;
}

.footer-content p {
  color: #2e2e2e !important;
}

.footer-content button {
  background: var(--btn-gradient) !important;
  color: var(--white-color);
  border: 0;
  outline: 0;
  position: absolute;
  top: 1032px;
  left: 346px;
}

.footer-content button:hover {
  background: var(--btn-gradient) !important;
  color: var(--white-color);
  border: 0;
  outline: 0;
}

.footer-content input {
  width: 387px;
  height: 48px;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 10px !important;
  border: 0;
  position: relative;
  background: var(--white-color) !important;
}

.footer-heading {
  font-size: 18px;
}

/* ----- Footer end ----- */