@media (max-width: 1200px) {
  .hero-content h3 {
    font-size: 1.8rem;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }
}

<<<<<<< HEAD
@media (max-width: 1100px) {
.auth-container {
  width: 830px;
  height: auto;
}
}

@media (max-width: 1023px) {
.banner-right-icon {
 width: 150px !important;
}
.banner-left-icon {
  width: 150px !important;
}
}
@media (max-width: 991px) {
=======
@media (max-width: 992px) {
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  .hero-content {
    text-align: center;
  }

  .about-content {
    width: 100%;
  }

  .blog-card {
    max-width: 330px;
  }

  .footer-content input {
    margin: 20px auto;
  }

  .nav-container {
    padding: 1.5rem 10px;
<<<<<<< HEAD
  }
.navbar-collapse {
  width: 100%;
  position: absolute;
  padding: 1rem 2rem; 
    background-color: #f6f6f6; 
  top: 100px;
  left: 0;
}
.forum-heading h1{
    font-size: 30px;
}
.forum-section .filter-btns button{
    font-size: 14px;
    margin-top: 10px;
}
=======
    position: relative;
    z-index: 3;
  }

  .navbar-collapse {
    background: var(--bg-color) !important;
    padding: 1rem;
    position: absolute;
    top: 115px;
    left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width:981px) {
  .accordion-item h5 a {
    font-size: 14px !important;
    padding-right: 10px;
    margin-right: 10px;
  }

  .result-secondary {
    font-size: 13px;
  }
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
}

@media (max-width: 950px) {
  .auth-section {
  width: 100%;
  padding: 8% 5%;
  }
  .auth-container {
  width: auto;
  }
}
@media (max-width: 800px) {
  .hero-section {
    padding: 10% 0;
  }
<<<<<<< HEAD

  .review-section {
    padding: 10% 0;
  }

  .fact-section {
    padding: 10% 0;
=======

  .review-section {
    padding: 10% 0;
  }

  .fact-section {
    padding: 10% 0;
  }
}

@media (max-width: 768px) {
  .services-text {
    text-align: center;
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  }

  .second-heading {
    font-size: 40px !important;
  }

  .fact-img img {
    width: 100% !important;
  }

  .footer-content input {
    margin: 20px auto;
  }
}

@media (max-width: 725px) {
  .font-size {
    font-size: 15px !important;

  }

  .copyright-section {
    flex-direction: column !important;
    text-align: center;
  }

  .footer-section {
    padding: 3rem 0 0 0 !important;
  }
}

@media (max-width: 768px) {
  .services-text {
    text-align: center;
  }

  .second-heading {
    font-size: 40px !important;
  }

  .fact-img img {
    width: 100% !important;
  }

  .footer-content input {
    margin: 20px auto;
  }

  .post-question-container {
    width: 500px;
    padding: 50px 30px;
  }
}

@media (max-width: 725px) {
  .font-size {
    font-size: 15px !important;
  }

  .copyright-section {
    flex-direction: column !important;
    text-align: center;
  }

  .footer-section {
    padding: 3rem 0 0 0 !important;
  }

  .community-section {
    padding: 10% 0;
  }

  .banner-right-icon {
    width: 100px !important;
  }

  .banner-left-icon {
    width: 100px !important;
  }
.terms-condition p {
  font-size: 13px;
  margin: 0 7px ;
}
.register-info input{
  font-size: 16px;
}
}

@media (max-width: 600px) {
  .auth-container {
    width: 350px;  
  }

  .auth-border {
    padding: 20px;
  }

  .btn-slider {
    width: 120px;
  }

  .auth-buttons button {
    width: 120px;
  }

  .slide-left {
    left: 140px !important;
  }

  .auth-section {
    width: 100%;
    padding: 10% 2%;
  }

  .banner-right-icon {
    width: 70px !important;
  }

  .banner-left-icon {
    width: 70px !important;
  }

  .post-question-container {
    width: 400px;
    border-radius: 20px;
    padding: 40px 20px;
  }

  .post-question-heading h2 {
    font-size: 1.5rem;
  }

  .question-form {
    margin-top: 20px !important;
  }

  .question-post-buttons button {
    width: 150px;
  }
  .auth-section {
  width: 100%;
  padding: 5% 0;
  }
  .auth-container {
  padding: 40px 30px;
}
.register-info input{
  font-size: 14px;
}
.popup-box {
  width: 400px;
  height: 200px;
}
.emergency-section{
  padding: 10% 0;
}
.health-section {
    padding: 10% 0;
}
}
@media (max-width: 500px) {
  .hero-content h3 {
    font-size: 1.5rem;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 16px;
  }

  .about-card-icon {
    width: 40px;
    height: 40px;
  }

  .fact-section {
    padding: 15% 0;
  }

  .blog-info span {
    font-size: 14px;
  }

  .blog-content h4 {
    font-size: 1px;
  }

  .blog-user span {
    font-size: 11px;
  }
<<<<<<< HEAD

  .community-content h2 {
    font-size: 45px;
  }

  .community-content h1 {
    font-size: 40px;
    margin-top: 5px !important;
  }

  .community-content p {
    margin-top: 10px !important;
  }

  .join-content h1 {
    font-size: 30px;
  }

  .join-content h1 span {
    font-family: "Corinthia", cursive;
    font-size: 40px;
  }

  .post-question-container {
    width: 350px;
  }
  .register-form-heading h3{
  font-size: 20px;
=======
}

@media (max-width: 461px) {
  .accordion-item h5 a {
    font-size: 12px !important;
    padding-right: 10px;
    margin-right: 10px;
  }

  .result-secondary {
    font-size: 10px;
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  }
}

@media (max-width: 451px) {
<<<<<<< HEAD
  .title-dropdown {
    margin-right: 10px ;
    padding-right: 10px;
  }
  .title-dropdown {
    margin-right: 0px !important;
    padding-right: 0px !important;
=======
  .dropdown {
    margin-right: 10px !important;
    padding-right: 10px !important;
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  }
}

@media (max-width: 425px) {
  .navbar-brand img {
    width: 100px;
  }

  .hero-content h3 {
    font-size: 1.3rem;
  }

  .hero-content h1 {
    font-size: 2.7rem;
  }

  .hero-content button {
    padding: 4px 18px;
    font-size: 16px;
  }

<<<<<<< HEAD
=======
  .hero-content button {
    padding: 4px 18px;
    font-size: 16px;
  }

>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  .demo-btn img {
    width: 25px;
  }

  .demo-btn span {
    font-size: 15px;
  }

  .services-text h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .services-text p {
    margin-top: 10px;
  }

  .services-content h3 {
    font-size: 22px;
  }

  .about-content h1 {
    font-size: 32px;
  }

  .about-content p {
    font-size: 15px;
  }

  .review-card h6 {
    font-size: 15px !important;
  }

  .review-card h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 1px 0;
  }

  .review-card p {
    color: #2e2e2e;
    font-size: 17px;
  }
<<<<<<< HEAD

  .auth-container {
    width: 300px;  
    padding: 30px 20px;
  }
.auth-section {
  width: 100%;
  padding: 8% ;
}
  .auth-border{
  background: #0b6fc01e;
  padding: 15px;
  border-radius: 30px;
}
  .auth-container {
  padding: 30px 20px;
}
  .submit-button button {
    width: 100%;
    height: 40px;
    margin: auto !important;
    margin-top: 20px !important;
  }
  
  .signup-button a {
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 0 !important;
  }
}

=======
}

@media (max-width: 395px) {
  .accordion-item h5 a {
    font-size: 10px !important;
    padding-right: 10px;
    margin-right: 10px;
  }

  .result-secondary {
    font-size: 8px;
  }
}

>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
@media (max-width: 390px) {
  .hero-content h3 {
    font-size: 1.2rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

<<<<<<< HEAD
=======
  .hero-content button {
    padding: 4px 18px;
    font-size: 16px;
  }

>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  .hero-content button {
    padding: 4px 18px;
    font-size: 14px;
  }

<<<<<<< HEAD
  .banner-right-icon {
    display: none !important;
  }

  .banner-left-icon {
    display: none !important; 
  }

=======
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
  .demo-btn img {
    width: 20px;
  }

  .demo-btn span {
    font-size: 14px;
  }

  .services-text h1 {
    font-size: 1.8rem;
    line-height: 40px;
  }

  .services-text p {
    margin-top: 5px;
  }

  .fact-content h1 {
    font-size: 25px;
  }

  .fact-content p {
    margin: 20px 0;
  }

  .star {
    width: 20px !important;
    height: 20px !important;
  }
<<<<<<< HEAD

  .auth-container {
    width: 280px;  
  }

  .community-content h2 {
    font-size: 35px;
  }

  .community-content h1 {
    font-size: 35px;
    margin-top: 0px !important;
  }

  .post-question-container {
    width: 320px;
    border-radius: 20px;
    padding: 40px 10px;
  }

  .post-question-heading h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .question-form {
    margin-top: 20px !important;
  }

  .question-post-buttons button {
    width: 120px;
    padding: 0;
  }
  .popup-box {
  width: 350px;
  height: 180px;
    padding: 0 15px;
}
=======
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
}

@media (max-width: 351px) {
  .second-heading {
    font-size: 30px !important;
  }

  .fact-content p {
    font-size: 12px !important;
  }
<<<<<<< HEAD
    .popup-box {
  width: 300px;
    padding: 0 15px;
}
=======
}

@media (max-width: 341px) {
  .accordion-item h5 a {
    font-size: 8px !important;
    padding-right: 10px;
    margin-right: 10px;
  }

  .result-secondary {
    font-size: 6px;
  }
>>>>>>> 8b36752cdd7f0d4283b4549e7d65e2f0596e45a0
}