@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #0b6fc0;
  --secondary-color: #000;
  --white-color: #fff;
  --heading-color: #0c74c2;
  --trust-color: #40a737;
  --btn-gradient: linear-gradient(93.22deg, #0b6fc0 1.06%, #1fd2e5 97.02%);
}

.text-primary {
  color: var(--primary-color) !important;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/loading\ bg\ gradient.svg") bottom no-repeat;
  background-size: cover;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.loading-logo {
  width: 400px;
  animation: zoomIn 3.5s ease-in-out infinite;
}

/* ----- Navbar Start ----- */

.primary-btn {
  padding: 3px 33px;
  border-radius: 50px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  outline: none !important;
  transition: 0.2s ease;
}

.primary-btn:hover {
  background: linear-gradient(to right, #0b6fc0, #0ae0fc);
  color: white;
  border: 1px solid transparent;
}
.dropdown-menu {
  border: none !important;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* ----- Navbar End ----- */

/* ----- Hero Section Start ----- */

.hero-section {
  background: #DDF2F9;
  min-height: 60vh;
  width: 100%;
  padding: 5% 0;
}

.hero-content h3{
  font-size: 2rem;
  font-weight: 400;
}

.hero-content h1{
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 800;
}

.hero-content p {
  font-size: 18px;
}

.hero-content button {
  padding: 6px 23px;
}

/* ----- Hero Section End ----- */


.services-container {
  padding: 0 5%;
}

.service-icon {
  background: #24bde0bb;
  width: 50px;
}
